body {
  background-color: rgb(253 248 241);
}
header {
  background-color: rgb(143, 10, 10);
  padding: 30px;
}
.yolo {
  position: absolute;
  top: 5px;
  left: 1px;
  scale: 0.5;
  width: 40px;
  height: 30px;
}
nav ul {
  text-align: right;
}
nav ul li {
  display: inline;
  padding-left: 20px;
}
nav ul li a {
  color: antiquewhite;
  text-decoration: none;
  font-size: 30px;
  border-radius: 18px;
  background-color: rgb(29, 39, 70);
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 5px;
}
.footerstyle {
  background-color: rgb(143, 10, 10);
}
footer img {
  position: relative;
  left: 350px;
}
